.form{
  max-width: 600px;
  margin: 0 auto 2rem;
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
  box-sizing: border-box;
}
.input{
  flex: 1;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: white;
  font-size: 1rem;
}
.list-text{
  font-size: 1.5rem;
  font-family: 'sans-serif';

}
.tick-button{
  background-color: green;
  margin: 1.5rem;
}